DTD/library/library.dtd

<!ELEMENT library ((book|journal|misc)*)>
<!ELEMENT book (title+,editor?,publisher?,volume?,year?)>
<!ATTLIST book id CDATA #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT editor (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT journal (title+,volume?,number,editor?,publisher?,year?)>
<!ATTLIST journal id ID #REQUIRED
                publ_year CDATA #REQUIRED>
<!ELEMENT volume (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT misc (author*,title+,year?,editor?,publisher?,pages,volume?)>
<!ATTLIST misc id ID #REQUIRED
                date CDATA #REQUIRED>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT pages (#PCDATA)>